# maintainer files

.dir-locals.el
ID
TAGS
GTAGS
GPATH
GRTAGS
GSYMS

# autotools generated
Doxyfile
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux/
chewing.pc
config.log
config.status
configure
lib
libchewing.spec
libtool
m4

# compiling output
*.dat
*.la
*.lo
*.o
.deps
.libs

data/checkdata_stamp
data/gendata_stamp

include/config.h
include/config.h.in
include/stamp-h1

test/do-test
test/genkeystroke
test/randkeystroke
test/simulate
test/testchewing

src/chewing-definition.h
src/tools/maketree
src/tools/sort_dic
src/tools/sort_word

test/do-test.xml
test/test.txt

# gcov output
*.gcda
*.gcno
*.gcov

# cscope output
cscope.*

# info doc
doc/libchewing.info
doc/stamp-vti
doc/version.texi
doc/libchewing.aux
doc/libchewing.cp
doc/libchewing.fn
doc/libchewing.fns
doc/libchewing.ky
doc/libchewing.log
doc/libchewing.pdf
doc/libchewing.pg
doc/libchewing.toc
doc/libchewing.tp
doc/libchewing.tps
doc/libchewing.vr
doc/libchewing.vrs
