Source: libchewing
Priority: optional
Maintainer: Kanru Chen <koster@debian.org.tw>
Build-Depends: debhelper (>= 4.0.0), gcc (>= 3:3.3), autoconf (>= 2.59), automake-1.9 | automaken, libtool (>= 1.5.6), doxygen
Standards-Version: 3.6.1

Package: libchewing2-dev
Conflicts: libchewing-dev, libchewing1-dev
Section: devel
Architecture: any
Depends: libchewing2 (= ${Source-Version})
Description: intelligent phonetic input method library (developer version)
 libchewing is an intelligent phonetic input method library for Chinese.
 .
 It provides the core algorithm and logic so that they can be shared among
 the various input methods like JMCCE, xcin-chewing, scim-chewing, 
 iiimf-chewing, screen-chewing, ime-chewing, etc.
 .
 The Chewing input method is a smart bopomofo fonetics input method that
 is useful for inputing Mandarin Chinese based language.

Package: libchewing2
Provides: libchewing
Section: libs
Architecture: any
Depends: libchewing-data (= ${Source-Version}), ${shlibs:Depends}, ${misc:Depends}
Description: intelligent phonetic input method library
 libchewing is an intelligent phonetic input method library for Chinese.
 .
 It provides the core algorithm and logic so that they can be shared among
 the various input methods like JMCCE, xcin-chewing, scim-chewing, 
 iiimf-chewing, screen-chewing, ime-chewing, etc.
 .
 The Chewing input method is a smart bopomofo fonetics input method that
 is useful for inputing Mandarin Chinese based language.

Package: libchewing-data
Conflicts: libchewing-data (<= 0.2.3)
Section: misc
Architecture: all
Depends: ${misc:Depends}
Description:intelligent phonetic input method library - data files
 libchewing is an intelligent phonetic input method library for Chinese.
 .
 It provides the core algorithm and logic so that they can be shared among
 the various input methods like JMCCE, xcin-chewing, scim-chewing, 
 iiimf-chewing, screen-chewing, ime-chewing, etc.
 .
 The Chewing input method is a smart bopomofo fonetics input method that
 is useful for inputing Mandarin Chinese based language.
