[package]
name = "chewing-tools"
description = "Tools of the Chewing (酷音) intelligent Zhuyin input method."
license = "LGPL-2.1-or-later"
version = "0.5.1-alpha.1"
edition = "2021"

[dependencies]
chewing = { version = "0.5.1-alpha.1", path = ".." }
thiserror = "1.0.0"
anyhow = "1.0.0"
clap = "4.1.0"

[target.'cfg(windows)'.dependencies]
rusqlite = { version = "0.28.0", features = ["bundled"]}